<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.booktory.booktoryserver.Chat.mapper.ChatMapper">
    <insert id="createChatRoom" parameterType="chat">
        insert into chat (seller_id, buyer_id, used_book_id) values (#{seller_id}, #{buyer_id}, #{used_book_id})
    </insert>
</mapper>
