<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.booktory.booktoryserver.QnAComment.mapper.QnaCommentMapper">

    <insert id="insertQnaComment" parameterType="qnaComment">
        INSERT INTO qna_comment (comment_author, comment_content, created_at, qna_id)  VALUES (#{comment_author},#{comment_content}, #{created_at}, #{qna_id})
    </insert>

    <insert id="moveToDeletetComment">
        INSERT INTO delete_qna_comment (qna_comment_id, comment_author, created_at, comment_content, qna_id)
        SELECT qna_comment_id, comment_author, created_at, comment_content, qna_id
        FROM qna_comment
        WHERE qna_comment_id = #{qnaCommentId}
    </insert>


    <delete id="softDeleteQnaComment">
        DELETE FROM qna_comment WHERE qna_comment_id = #{qnaCommentId}
    </delete>

</mapper>
