<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.booktory.booktoryserver.BookStory.mapper.StoryMapper">

    <select id = "getAllStory" resultType="story">
        select * from mystory_board;
    </select>

    <insert id = "createStory">
        INSERT INTO mystory_board (mystory_type_id, mystory_name, mystory_content, user_id, book_id)
        VALUES (#{mystory_type_id}, #{mystory_name}, #{mystory_content}, #{user_id}, #{book_id});
    </insert>



</mapper>