<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.booktory.booktoryserver.BookStory.mapper.CommentMapper">

    <select id="getAllCommentsByStoryId" resultType="storyComment">
        SELECT
            sc.comment_id,
            sc.comment_content,
            sc.createdDate,
            sc.modifiedDate,
            sc.story_board_id,
            u.user_img As author_profile_image,
            u.user_nickname AS author_nickname

        FROM
            mystory_comment sc
                JOIN
            users u ON sc.comment_author_user_id = u.user_id
        where
            sc.story_board_id = #{story_board_id}
    </select>

    <insert id="createComment" parameterType="storyComment" useGeneratedKeys="true" keyProperty="comment_id">
        INSERT INTO mystory_comment (comment_content, createdDate, modifiedDate, story_board_id, comment_author_user_id)
        VALUES (#{comment_content}, NOW(), NOW(), #{story_board_id}, #{comment_author_user_id})
    </insert>

    <select id = "getCommentsBycommentId" resultType="storyComment">
        select
            sc.comment_id,
            sc.comment_content,
            sc.createdDate,
            sc.modifiedDate,
            sc.story_board_id,
            u.user_img As author_profile_image,
            u.user_nickname AS author_nickname
        FROM
            mystory_comment sc
                JOIN
            users u ON sc.comment_author_user_id = u.user_id
        where
            sc.comment_id = #{comment_id}
    </select>

    <delete id="deleteComment" parameterType="long">
        DELETE FROM mystory_comment WHERE comment_id = #{comment_id}
    </delete>

    <update id="updateComment" parameterType="storyComment">
        UPDATE mystory_comment
        SET comment_content = #{comment_content}, modifiedDate = NOW()
        WHERE comment_id = #{comment_id}
    </update>


</mapper>