<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.booktory.booktoryserver.UsedBook.mapper.UsedBookWishMapper">
    <insert id="addWish" parameterType="map">
        insert into used_book_wish (user_id, used_book_id) values (#{user_id}, #{used_book_id})
    </insert>

    <select id="isWished" resultType="boolean">
        select count(*) > 0 from used_book_wish where user_id = #{user_id} and used_book_id = #{used_book_id}
    </select>

    <delete id="removeWish">
        delete from used_book_wish where user_id = #{user_id} and used_book_id = #{used_book_id}
    </delete>

    <select id="getWishList" resultType="wishList">
        SELECT
            w.used_book_wish_id,
            w.wish_date,
            w.user_id,
            b.used_book_id,
            b.title,
            b.discount,
            i.stored_image_name,
            u.user_id as seller_id,
            u.user_nickname as seller_nickname
        FROM
            used_book_wish w
                JOIN
            used_book b ON w.used_book_id = b.used_book_id
                JOIN
            users u ON b.user_id = u.user_id
                LEFT JOIN
            (SELECT used_book_id, stored_image_name
             FROM used_book_image
             GROUP BY used_book_id) i ON b.used_book_id = i.used_book_id
        WHERE
            w.user_id = #{userId}
    </select>
</mapper>
