<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.booktory.booktoryserver.UsedBook.mapper.UsedBookMapper">
    <select id="getList" resultType="usedBook">
        SELECT
        ub.used_book_id,
        ub.title,
        ub.discount,
        ub.description,
        ub.created_at,
        ub.status,
        u.user_id,
        u.user_nickname,
        bc.book_condition_id,
        bc.condition,
        bi.book_id,
        bi.book_name,
        bi.book_author,
        bi.book_price,
        bi.book_publisher,
        bi.book_publication_date,
        bi.book_isbn,
        ubi.used_book_image_id,
        ubi.original_image_name,
        ubi.stored_image_name
        FROM
        used_book ub
        JOIN users u ON ub.user_id = u.user_id
        JOIN book_condition bc ON ub.book_condition_id = bc.book_condition_id
        JOIN book_information bi ON ub.book_id = bi.book_id
        LEFT JOIN used_book_image ubi ON ub.used_book_id = ubi.used_book_id
        <where>
            <if test="searchKey != null and searchKey != ''">
                ub.title LIKE CONCAT('%', #{searchKey}, '%')
            </if>
        </where>
        GROUP BY ub.used_book_id
        ORDER BY ub.used_book_id DESC
        LIMIT #{pageRequest.size}
        OFFSET #{pageRequest.skip}
    </select>

    <select id="getPostById" resultType="usedBook">
        SELECT
            ub.used_book_id,
            ub.title,
            ub.discount,
            ub.description,
            ub.created_at,
            ub.status,
            u.user_id,
            u.user_nickname,
            bc.book_condition_id,
            bc.condition,
            bi.book_id,
            bi.book_name,
            bi.book_author,
            bi.book_price,
            bi.book_publisher,
            bi.book_publication_date,
            bi.book_isbn,
            ubi.used_book_image_id,
            ubi.original_image_name,
            ubi.stored_image_name
        FROM
            used_book ub
                JOIN
            users u ON ub.user_id = u.user_id
                JOIN
            book_condition bc ON ub.book_condition_id = bc.book_condition_id
                JOIN
            book_information bi ON ub.book_id = bi.book_id
                LEFT JOIN
            used_book_image ubi ON ub.used_book_id = ubi.used_book_id
        where ub.used_book_id = #{used_book_id}
    </select>

    <delete id="deletePostById">
        delete from used_book where used_book_id = #{used_book_id}
    </delete>

    <select id="getBookId" resultType="Long">
        select book_id
        from book_information
        where book_isbn = #{book_isbn}
    </select>

    <insert id="createBookInfo" parameterType="book" keyProperty="book_id" useGeneratedKeys="true">
        insert into book_information (book_image, book_name, book_author, book_price, book_publisher, book_publication_date, book_isbn)
        values (#{book_image}, #{book_name}, #{book_author}, #{book_price}, #{book_publisher}, #{book_publication_date}, #{book_isbn})
    </insert>

    <update id="updatePost" parameterType="usedBook">
        update used_book
        set title = #{title}, discount = #{discount}, description = #{description}, book_id = #{book_id}, book_condition_id = #{book_condition_id}, image_check = #{image_check}
        where used_book_id = #{used_book_id}
    </update>

    <insert id="createPost" parameterType="usedBook" useGeneratedKeys="true" keyProperty="used_book_id">
        insert into used_book
        (title, discount, description, user_id, book_condition_id, book_id, image_check)
        values
            (#{title}, #{discount}, #{description}, #{user_id}, #{book_condition_id}, #{book_id}, #{image_check})
    </insert>

    <insert id="saveFile" parameterType="usedBookImage" useGeneratedKeys="true" keyProperty="used_book_image_id">
        insert into used_book_image (used_book_id , original_image_name, stored_image_name)
        values (#{used_book_id}, #{original_image_name}, #{stored_image_name})
    </insert>

    <select id="getUsedBookImageById" resultType="usedBookImage">
        select * from used_book_image where used_book_id = #{used_book_id}
    </select>

    <delete id="deleteImageById" >
        delete from used_book_image where used_book_id = #{used_book_id}
    </delete>

    <delete id="deleteImageByImageId" >
        delete from used_book_image where used_book_image_id = #{used_book_image_id}
    </delete>

    <select id="getUsedBookImageByImageId" resultType="usedBookImage">
        select * from used_book_image where used_book_image_id = #{used_book_image_id}
    </select>

    <select id="findIdByEmail" resultType="Long">
        select user_id from users where user_email = #{username}
    </select>
    
<!--    중고서적 글 갯수-->
    <select id="countList" resultType="int">
        SELECT
        COUNT(DISTINCT ub.used_book_id)
        FROM
        used_book ub
        JOIN users u ON ub.user_id = u.user_id
        JOIN book_condition bc ON ub.book_condition_id = bc.book_condition_id
        JOIN book_information bi ON ub.book_id = bi.book_id
        LEFT JOIN used_book_image ubi ON ub.used_book_id = ubi.used_book_id
        <where>
            <if test="searchKey != null and searchKey != ''">
                AND ub.title LIKE CONCAT('%', #{searchKey}, '%')
            </if>
        </where>
    </select>

</mapper>
