<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.booktory.booktoryserver.Users.mapper.UserMapper">

    <insert id="insertUser" parameterType="user" useGeneratedKeys="true" keyProperty="user_id">
        INSERT INTO users (user_email, user_password, user_nickname, user_name, user_mobile, user_gender, user_birth, user_address, user_role)
        VALUES (#{user_email}, #{user_password}, #{user_nickname}, #{user_name}, #{user_mobile}, #{user_gender}, #{user_birth}, #{user_address}, #{user_role})
    </insert>

    <select id="findByEmail" resultType="user" parameterType="String">
        SELECT * FROM users WHERE user_email = #{user_email}
    </select>

    <select id="findAllUsers" resultType="user">
        SELECT u.user_id, u.user_email, u.user_nickname, u.user_address, u.user_role,u.created_at FROM users u
    </select>

    <delete id="deleteUserById">
        DELETE FROM users
    </delete>

    <select id="findByUserName" resultType="user" parameterType="String">
        SELECT * FROM users WHERE user_name = #{user_name}
    </select>

    <update id="updateUserById" parameterType="user">
        UPDATE users SET user_name = #{user_name}, user_nickname =#{user_nickname}, user_address =#{user_address}, user_info=#{user_info} WHERE user_id = #{user_id}

    </update>
</mapper>
